# Secrets & Credentials
.env
.env.*
secrets.json

# Virtual Environments
.venv/
venv/
env/
ENV/
bin/
lib/
include/

# OS / IDE files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Python cache & build
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
.pytest_cache/

# Databases & logs
*.log
*.sqlite
db.sqlite3
/database/data/
/db_data/
